
#list_rss{
    overflow:hidden;
}
#list_rss li{
    margin-top:-1px;
    padding:10px 0 12px;
    border-top:1px solid #bbb;
}
#list_rss a{
    padding-left:10px;
}
#list_rss h4{
    float:left;
    margin:0;
}
#list_rss span{
    padding-left:10px;
}
#list_rss p{
    padding-top:5px;
}
#rss_box .pagination{
    text-align:center;
}
#rss_box .pagination{
    height:auto;
    border-radius:4px;
}
#rss_box .pagination .nav-next,
#rss_box .pagination .nav-previous{
    display:inline-block;
    padding:3px;
}